<html>
   
   <!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

<!-- Optional theme -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">

<!-- Latest compiled and minified JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
<style>
    img{
        width:150px;
        height:150px;
        margin-left:auto;
        margin-right:auto;
        display:inline-block;
    }
    body{
        background-image:url('http://cfile6.uf.tistory.com/image/131C0E334E2690B52007C3');
    }
   
    h1{
        margin-top:100px;
        font-size:5em;
    }
    .outer {
  display: table;
  width: 100%;
  height: 100%;
}
.inner {
  display: table-cell;
  vertical-align: middle;
  text-align: center;
}
.centered {
  position: relative;
  display: inline-block;
 
  width: 50%;
  padding: 1em;
  color: white;
}
form{
    text-align:center;
}
</style>    
 <title>음식 랜덤 선택</title>
 
<body>


<h1 align="center">친구야 점심 뭐 먹을까?</h1>
<div class="container">
    <div class="outer">
    <div class="inner">
          <div class="centered">
   <img src="http://cfile5.uf.tistory.com/image/1477C24C4FFD259319C2F4">
<img src="http://dostacos.co.kr/__files/2016/02/2039806175_79cd9338.jpg">
<img src="http://blog.joins.com/usr/k/su/ksuntae/1511/56368385c0d66.jpg">
<img src="http://www.pelicana.co.kr/resources/images/menu/best_menu09.jpg">
<img src="http://cfile1.uf.tistory.com/image/261C764B58BA1E6D0AE109">
<img src="http://cfile4.uf.tistory.com/image/22019F475144344828EB85">
</div>
</div>
</div>
</div>
<form action="/home/result">
     <button type="submit" class="btn btn-primary btn-lg btn btn-danger">눌러!!!</button>
</form>
<br>
<div class="container">
    <div class="outer">
    <div class="inner">
<img src="http://cfile25.uf.tistory.com/image/180714404D6CF4BC10B3B9">
<img src="http://www.mudseafood.com/board/data/file/photo/979857675_QD87jbvW_LCJ_8498.JPG">
<img src="http://www.alltokk.co.kr/images/menu/photo1B.jpg">
<img src="http://cfile214.uf.daum.net/image/1364633B50950C63172AEC">
<img src="https://i.ytimg.com/vi/oaq_sEIywUE/maxresdefault.jpg">
<img src="http://cfile22.uf.tistory.com/image/19153F524D6EDB141A436B">
</div>
</div>
</div>
</div>

</body>

</html>
